mixin button(title, type="button", size="m", color="white", imgLeft, imgRight)
  button(type=type, class=`btn btn-${color} btn-${size}` )
    if imgLeft
      img(src=imgLeft)
    span= title
    if imgRight
      img(src=imgRight)


